.booking-card{
   display: flex;
   flex-direction: column;
gap: 1rem;
position: relative;
   align-items: center;justify-content: center;
    border: 1px solid rgb(226, 226, 226);
    width: 75%;
    margin: auto;
    /* height: 10rem; */
    /* padding: 0.8rem; */
    border-radius: 20px;
    /* margin-top: -30px; */
    /* background-color: white !important; */
    /* z-index: 100; */
    padding: 40px 0px;
    background:#f7f7f7c4;


    -webkit-box-shadow: 0px 23px 49px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 23px 49px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 23px 49px -20px rgba(0,0,0,0.75);
    

}
.booking-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.top-buttons{
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    width: 100%;
    gap: 2rem;

}
.auto-inputbox{
 position: relative;   
}
.dropdownoption{
    position: absolute;
    top: 3.2rem;
    background-color: white;
    z-index: 100;
    /* padding: 20px; */
    border: 1px solid gray;
    overflow-y: scroll;
    max-height: 20rem;
    width:100%;
}
.singlecity{
    border-bottom: 1px solid gray;
    padding: 10px;
}
.input-boxform{
    border: 1px solid gray !important;
    border-radius: 20px !important;
    height: 3rem;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    
    /* width: 30rem; */
}
.coverdate{

}
.coverdate  input {
padding: 12px;
box-sizing: border-box;
width: 9rem;
font-size: 15px;

/* border: 1px solid black; */
border-radius: 20px !important;
}

.waybutt{
    height: 2rem;
}
.searchButt{
    width: 16rem;
    position: absolute !important;
    top: 90%;
    font-size: 18px !important;
    border-radius: 25px !important;
    /* margin-top: 20px !important; */
    
}
.date-picker{
    border: 1px solid gray;
border-radius: 20px !important;
}
.booking-members{
    border: 1px solid gray !important;
    border-radius: 20px !important;
    height: 3rem;
    padding: 0px 20px;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
    box-sizing: border-box;
    background-color: white;

    width: 12rem;
    font-size: 18px;
    position: relative;
    font-weight: 500;
}
.members-text{
    color: gray;

}
.members-select{
    border: 1px solid black;
    border-radius: 5px ;
    /* padding: 10px 0px; */
    width: 15rem;
    background-color: white;
    position: absolute;
    top: 3.1rem;
}
.single-memberselect{
    width: 15rem;
/* background-color: rgb(236, 236, 236); */
display: flex;
justify-content: space-evenly;
margin-top: 10px;

/* border-radius: 10px ; */
padding: 10px 5px;
box-sizing: border-box;
color: gray;
border-bottom: 1px dotted gray;

}
.box{
    border: 1px solid rgb(217, 217, 217);
/* padding: 5px; */
height: 30px;
display: flex;
align-items: center;
justify-content: center;
width: 30px;
cursor: pointer;
}
