.offer-container {
    background-color: #eeeeee;
    width: 100%;
}

.offer-outer {
    width: 75%;
    margin:auto;
   

}
.home-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    gap: 2%;
    
}
.single-card {  
    /* border: 5px solid red; */
    box-shadow: 10px 10px 10px rgb(173, 173, 173) !important;

}
.support-card{
    padding: 20px 12.5%;
    width: 100% !important;
    box-sizing: border-box;
    background-color: rgba(176, 176, 176, 0.3) !important  ;
    
}