.wrapper {
    position: relative;
    background-color: #144073;
    /* background: linear-gradient(#061526, #144073); */
    background: linear-gradient(#000913, #144073);
    /* height: 30rem; */
    padding: 1rem 0px 4rem 0px;
  }
  
  .first-box {
    width: 40%;
    height: 90px;
    position: relative;
    top: 50px;
    /* left: 170px; */
    border-radius: 10px;
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
    background: #f2f2f2;
    color: blue;
    margin: auto;
    /* margin-left: 8%; */
  }
  .second-box {
    width: 85%;
    
    
    border-radius: 10px;
    
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
    background: #fff;
    margin: 0 auto;
    /* margin-top: 10rem; */
  
    padding: 5rem 2rem;
    /* padding-top: 5rem; */
    /* padding-: 5rem; */
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    /* gap:2% ; */
  
  }
  
  .second-box-end-search{
  /* border: 1px solid black; */
 width: 100%;
 display: flex;
 justify-content: center;
/* margin: auto; */
  margin-top: -25px;

  /* marginA */
  }
  
  .selection{
    
        width: 100%;
        padding: 10px 15px;
        border: 1px dashed blue;
        border-radius: 4px;
        
  }


  @media screen and (max-width: 768px) {
    
  }


  